<h1>
  <%= @type.title %>
</h1>
<ul>
<% @type.resources.each do |resource| %>
  <li>
    <%= link_to(resource.title, resource.url) %>
    <%= resource.description %>
    <div class="types">
      Types:
      <% resource.types.each do |type| %>
        <%= link_to(type.title, types_path(type)) %>
      <% end %>
    </div>
  </li>
<% end %>
</ul>
