#navigation {
  float: left;
  width: 100px;
  background-color: #153B50;

  #feature-links {
    .feature-link {
      color: red;
    }
  }

  .image-link-buttons {
    float: left;
  }
}

#right-column {
  .content {
    margin-left: 150px;
  }
  .login {
    float: right;
    margin-right: 10px;
    white-space: nowrap;
  }

}
